.footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    /*height: 60px; !* Set the fixed height of the footer here *!*/
    /*line-height: 60px; !* Vertically center the text there *!*/
    /*background-color: #f5f5f5;*/
}

div.scrollWindow {
    overflow-y: scroll;
    position: fixed;
    height: 90%;
}

/*.bubble {*/
    /*position: relative;*/
    /*background: #FFFFFF;*/
    /*border: 1px solid #000000;*/
    /*padding:10px;*/
    /*font-family:arial;*/
    /*margin:0 0 3px 0;*/
    /*font-size:14px;*/
    /*border-radius:6px;*/
/*}*/

/*ul {*/
    /*-webkit-columns: 2;*/
    /*-moz-columns: 2;*/
    /*columns: 2;*/
/*}*/
li:before {
    content:'';
    display: block;
}

li {
    font-size: small;
}

/*.left { float:left; width:50%; clear:left; }*/
/*.right { float:right; width:50%; clear:right }*/

.messages {
    position: relative;
    list-style: none;
    padding: 0px 10px 0 10px;
    margin: 0;
    height: 100%;
    overflow: scroll;
}
.messages .message {
    clear: both;
    overflow: hidden;
    font-size: small;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.messages .message.left .text_wrapper {
    background-color: #e4af00;
    opacity: 0.75;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #e4af00;
}
.messages .message.left .text {
    color: #000000;
    opacity: 1;
}
.messages .message.right .text_wrapper {
    background-color: #233f80;
    float: right;
    opacity: 0.75;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #233f80;
}
.messages .message.right .text {
    color: #000000;
    opacity: 1;
}
.messages .message.appeared {
    opacity: 1;
}
.messages .message .text_wrapper {
    display: inline-block;
    padding: 20px 20px 20px 20px;
    border-radius: 6px;
    min-width: 100px;
    position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
}
.messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
}
.messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
}
